<% if (!admin) { %>

<form action="/API/admin/session" method="POST">
  <div class="row">
    <label for="adminEmail">
      <input type="email" name="adminEmail" required id="adminEmail" placeholder="Votre e-mail" />
    </label>
  </div>
  <div class="row">
    <label for="adminPassword">
      <input type="password" name="adminPassword" required id="adminPassword" placeholder="Votre mot de passe" />
    </label>
  </div>
  <div class="row">
    <input type="submit" value="Se connecter"/>
  </div>
</form>

<% }
else { %>

<form action="/API/admin/session/delete" method="POST">
  <button type="submit">Se déconnecter</button>
</form>

<h1 class="text-center">Bonjour <%- "Corentin" %></h1>

<div class="row">
  <div class="small-12 medium-6 columns">
    <h1 class="text-center">Notifications</h1>

    <table>
      <thead>
      <tr>
        <th>Heure</th>
        <th>Titre</th>
      </tr>
      </thead>
      <tbody>

      <% for(var i=0; i<3; i++) {%>
      <tr>
        <td>Il y a 2 min</td>
        <td><a href="/admin/notification/<%- i %>">Un attentat</a></td>
      </tr>
      <% } %>
      </tbody>
    </table>
  </div>
  <div class="small-12 medium-6 columns">
    <h1 class="text-center">Liste des crises</h1>

    <table>
      <thead>
      <tr>
        <th>Heure</th>
        <th>Titre</th>
      </tr>
      </thead>
      <tbody>
      <% for(var i=0; i<3; i++) {%>
      <tr>
        <td>Il y a 2 min</td>
        <td><a href="/admin/crisis/<%- i %>">Un attentat à Paris</a></td>
      </tr>
      <% } %>
      </tbody>
    </table>
  </div>
</div>
<%}%>
