<div class="row">
  <div class="small-12 medium-6 columns">
    <h1>Notifications</h1>

    <table>
      <thead>
      <tr>
        <th>Heure</th>
        <th>Titre</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Il y a 2 min</td>
        <td>Un attentat</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="small-12 medium-6 columns">
    <h1>Liste des crises</h1>

    <table>
      <thead>
      <tr>
        <th>Heure</th>
        <th>Titre</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Il y a 2 jours</td>
        <td>Un attentat à Paris</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
