<form action="/admin/session" method="POST">
  <div class="row">
    <label for="adminName">
      <input type="text" name="adminName" required id="adminName" placeholder="Votre nom" />
    </label>
  </div>
  <div class="row">
    <label for="adminPassword">
      <input type="password" name="adminPassword" required id="adminPassword" placeholder="Votre mot de passe" />
    </label>
  </div>
  <div class="row">
    <input type="submit" value="Se connecter"/>
  </div>
</form>
