<form action="/admin/session" method="POST">
  <div class="row">
    <label for="adminEmail">
      <input type="email" name="adminEmail" required id="adminEmail" placeholder="Votre e-mail" />
    </label>
  </div>
  <div class="row">
    <label for="adminPassword">
      <input type="password" name="adminPassword" required id="adminPassword" placeholder="Votre mot de passe" />
    </label>
  </div>
  <div class="row">
    <input type="submit" value="Se connecter"/>
  </div>
</form>
