<h1 class="text-center">Crise : <%=crisis.type%></h1>

<div class="row">
  <div class="small-4 columns">
    <h2>Informations</h2>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias autem consequuntur cupiditate, eum explicabo fugiat iure, iusto laboriosam maxime nemo nesciunt nobis, non odit quas repudiandae similique soluta velit vitae!</p>

  </div>
  <div class="small-4 columns"><a href=""><h1>+</h1></a></div>
  <div class="small-4 columns"><h2>CARTE</h2></div>
</div>


<div class="row">
  <div class="small-4 columns">
    <ul>
      <%for(var i = 0; i < 5; i ++){ %>
      <li>Personne <%=i%></li>
      <%}%>
    </ul>

  </div>
</div>
