<div class="row">

  <h2 class="text-center">Bienvenue public.</h2>

  <h4 class="text-center">Les crises actuelles</h4>

  <table width="100%">
    <thead>
    <tr>
      <th>Heure</th>
      <th>Titre</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i = 0; i < 3; i++) { %>
    <tr>
      <td>Il y a 2 min</td>
      <td><a href="/crisis/<%- i %>">Un attentat à Paris</a></td>
    </tr>
    <% } %>
    </tbody>
  </table>
</div>
