<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/foundation.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body onKeyDown="heyEasterEgg(event.which);" onmousemove="moveSpaceShip(event);" onClick="choubi()">
    <%- body %>

     <img src="/images/vaisseau.png" id="vaisseau" style="position:absolute;display:block;z-index:5;" >
     <div id="nepascliquer" style="color:red;" onclick="readBestVideoEver(true)">NE PAS CLIQUER</div>
     <div id="cliquerplease" style="color:red;display:none;" onclick="readBestVideoEver(false)">MERCI DE CLIQUER</div>

     <iframe id="videoooo" width="800" height="600" src="https://www.youtube.com/embed/GdnBfriappg?autoplay" style="position: absolute;display:none" frameborder="0" allowfullscreen></iframe>


    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <!--SCRIPTS END-->
    <script type="text/javascript">
      var force = "";
      var force_ok = "force";
      function heyEasterEgg(key){
        switch (key) {
          case 70: force += "f";
          document.body.style.backgroundColor = "rgb(200, 200, 200)";
          break;
          case 79: force += "o";
          document.body.style.backgroundColor = "rgb(150, 150, 150)";
          break;
          case 82: force += "r";
          document.body.style.backgroundColor = "rgb(100, 100, 100)";
          break;
          case 67: force += "c";
          document.body.style.backgroundColor = "rgb(50, 50, 50)";
          break;
          case 69: force += "e";
          if(force == force_ok)
            document.body.style.backgroundImage = "url(/images/blackcat.png)";
          break;
          default: force = "";
          document.body.style.backgroundColor = "rgb(255, 255, 255)";
        }
        if(force_ok.indexOf(force) == -1){
          document.body.style.backgroundColor = "rgb(255, 255, 255)";
          force = "";
        } 
      }

      function readBestVideoEver(boolDeNeige){
        if(boolDeNeige){
          document.getElementById("cliquerplease").style.display = "block";
          document.getElementById("videoooo").style.display = "block";
          document.getElementById("nepascliquer").style.display = "none";
        }
        else {
          document.getElementById("nepascliquer").style.display = "block";
          document.getElementById("cliquerplease").style.display = "none";
          document.getElementById("videoooo").style.display = "none";
        }
      }

      var last = new Date();
      function moveSpaceShip(event) {
        var posX = event.clientX;
        var posY = event.clientY;
        document.getElementById("vaisseau").style.left = 20+posX+'px';
        document.getElementById("vaisseau").style.top  = 20+posY+'px';

        var audio = new Audio("/images/sabre.mp3");
        var now = new Date();
        console.log(now.getTime() - last.getTime());
        if(now.getTime() - last.getTime() > 700){
          audio.play();
          last = new Date();
        }
      }

      function choubi(){
        var audio = new Audio("/images/chu.mp3");
        audio.play();
      }

    </script>
  </body>
</html>
